body {
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 0
}

p {
  font-weight: 300;
}

.page-header {
  font-weight: 300;
  font-size: 300%;
}

.header {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

.header:hover {
  background: rgba(255,255,255,0.5);
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.footer:hover {
  background: rgba(255,255,255,0.5);
}

.fa {
  color: white;
  margin: auto;
}

.content {
  background: url("../images/background.jpg") no-repeat center;
  background-size: cover;
  height:100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.blue-background {
  color: white;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  height: 96%;
  width: 94%;
  background: rgba(51,102,153,0.5);
}

.blue-wrapper {
  font-size: 150%;
  color: white;
  text-align: left;
  width: 35%;
  margin-top: 4%;
  margin-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  background: rgba(51,102,153,0.5);
}

.graph-wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
  background: rgba(211,211,211,0.5);
}

.graph-wrapper > p {
  margin-bottom: 1%;
  font-weight: 600;
  margin-left: 10%;
  color: darkslategray;
}

.graph-wrapper > canvas {
  margin-left: 10%;
}

.graph-wrapper > .hidden-bar-charts {
  margin-left: 10%;
}

.hidden-bar-charts > p {
  margin-bottom: 0;
  font-weight: 600;
  color: darkslategray;
}

.stacked-bar {
  height: 10vh;
  margin: auto;
  width: 90%;
  margin-bottom: 3%;
}

.stacked-bar > p {
  font-weight: 600;
  color: grey;
  margin-bottom: 1%;
}

.stacked-bar > div {
  height: 100%;
  font-size: 200%;
  font-weight: 300;
  text-align: right;
  position: relative;
  display: inline-block;
}

.stacked-bar > div > p {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 100%;
  margin: 0
}

.hidden-stacked-bar {
  height: 5vh;
  margin: auto;
  margin-bottom: 3%;
  width: 90%;
}

.hidden-stacked-bar > p {
  font-weight: 600;
  color: grey;
  margin-bottom: 1%;
}

.hidden-stacked-bar > div {
  height: 100%;
  font-size: 200%;
  font-weight: 300;
  text-align: right;
  position: relative;
  display: inline-block;
}

.hidden-stacked-bar > div > p {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 60%;
  margin: 0
}

.more-data {
  cursor: pointer;
  text-align: center;
  width: 10%;
  height:3vh;
  float: right;
  margin: 1%;
  background-color: #616161;
}

.graphic-wrapper {
  width: 100%;
  height: 30%;
  background: rgba(211,211,211,0.5);
  text-align: center;
  padding-bottom: 5%;
}

.graphic-header {
  margin-left: 0;
  text-align: left;
  font-weight: 600;
  color: darkslategray;
}

.graphic-wrapper > h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(22, 50, 98);
  font-size: 250%;
}

.graphic-text {
  color: rgb(22, 50, 98);
  font-size: 150%;
}

.small-text-box {
  font-size: 150%;
  float: left;
}

.quotes {
  font-size: 100%;
  float: right;
  width: 27%;
}

.quotes > div {
  margin-top: 4%;
  padding-right: 3%;
  padding-left: 3%;
  width: auto;
  background: rgba(41,121,158,0.8);
  border-style: solid;
  border-radius: 20px;
  border-width: medium;
  border-color: #2EC5FF;
}
